<h1>Results</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th><b>Email_id</b></th>
			<th><b>Test</b></th>
			<th><b>Total_score</b></th>
		</tr>
	</thead>
	<tbody>
		<%@result.each do |res|%>
		<tr>
			<td><%=res.user.email%></td>
			<td><%=res.test.name%></td>
			<td><%=res.final_score%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<td><%= link_to 'Back',users_path, :class => 'btn btn-primary btn-xs div' %></td>